{% extends 'blog/main.html' %}
{% block main_section %}
  <h3>Страница с контактами</h3>
{% endblock main_section %}

{% block aside_news_section %}
  <h3><b>TOP 15 крутых лайфхаков для школы!</b></h3>
  <img src="https://dl1.eduget.com/get/news/ca116906b054b3909c2eee41dba69d83.jpg?bx=0&by=0&bw=978&bh=734" class="img-thumbnail mb-1">
  <p>Здесь ТОP 15 лайфхаков для школы!
  </p>
  <a href="https://shkolabuduschego.ru/psihologiya/layfhaki-dlya-shkolyi.html" target="_blank">
    <button class="btn btn-warning">Читать</button>
  </a>
{% endblock aside_news_section %}
