{% extends 'blog/main.html' %}
{% block main_section %}
    {% for post in news %}
      <div class="alert alert-light">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|striptags|truncatechars:200 }}</p>
        <div class="row">
          <div>
            {% if post.avtor.profile.img %}
              <img src="{{ post.avtor.profile.img.url }}" alt="{{ post.avtor }}" class="user_image">
            {% else %}
              <img src="/pictures/default.jpg" alt="{{ post.avtor }}" class="user_image">
            {% endif %}
          </div>
          <div class="mt-2">
            <span class="text-muted"><b>Дата:</b> {{ post.date|date:"j E Y в H:i:s" }}</span>
            <p><b>Автор:</b> <a href="{% url 'user-news' post.avtor %}">{{ post.avtor }}</a></p>
          </div>
        </div>
        <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning">Читать далее</a>
      </div>
    {% endfor %}

    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a href="/" class="btn btn-outline-warning">Начало</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-warning">Предыдущая</a>
      {% endif %}


      <!-- Начало Предыдущая 2 3 4 5 6 Следуйщая Последняя -->
      {% for num in page_obj.paginator.page_range  %}
        {% if num == page_obj.number %}
          <button class="btn btn-warning">{{ num }}</button>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a href="?page={{ num }}" class="btn btn-outline-warning">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-warning">Следуйщая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-warning">Последняя</a>
      {% endif %}
    {% endif %}
{% endblock main_section %}

{% block aside_news_section %}
  <h3><b>Новости.kz</b></h3>
  <img src="https://www.inform.kz/thumbs/radmin_news_2020_07_11_200711233422362a3671760i_w450_h300.jpg" class="img-thumbnail mb-1">
  <p>Будь в курсе новостей!
  </p>
  <a href="https://informburo.kz/" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock aside_news_section %}
