{% extends 'blog/main.html' %}
{% block main_section %}
    <div class="alert alert-light">
      <a href="{% url 'blog-home' %}" class="btn btn-outline-warning">Вернуться назад</a>
      <h1>{{ object.title }}</h1>
      <p>{{ object.text|safe }}</p>
      <div class="row">
        <div>
          {% if object.avtor.profile.img %}
            <img src="{{ object.avtor.profile.img.url }}" alt="{{ object.avtor }}" class="user_image">
          {% else %}
            <img src="/pictures/default.jpg" alt="{{ object.avtor }}" class="user_image">
          {% endif %}
        </div>
        <div class="mt-2">
          <span class="text-muted"><b>Дата:</b> {{ object.date|date:"j E Y в H:i:s" }}</span>
          <p><b>Автор:</b> <a href="{% url 'user-news' object.avtor %}">{{ object.avtor }}</a></p>
        </div>
      </div>
      {% if object.avtor == user %}
        <hr>
        <a href="{% url 'news-update' object.id %}" class="btn btn-info">Обновить пост</a>
        <a href="{% url 'news-delete' object.id %}" class="btn btn-danger">Удалить пост</a>


      {% endif %}
    </div>
{% endblock main_section %}

{% block aside_news_section %}
  <h3><b>Новости.kz</b></h3>
  <img src="https://www.inform.kz/thumbs/radmin_news_2020_07_11_200711233422362a3671760i_w450_h300.jpg" class="img-thumbnail mb-1">
  <p>Будь в курсе новостей!
  </p>
  <a href="https://informburo.kz/" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock aside_news_section %}
